header, nav, section, aside, h1, p, footer {
    color: #777;
    background: #ebebeb;
}

header {
    width: 495px;
    margin: auto;
    margin-bottom: 15px;
    padding: 25px;
}

nav {
    width: 495px;
    margin: auto;
    margin-bottom: 15px;
    padding: 25px;
}

body {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}
section {
    margin-bottom: 15px;
    width: 250px;
    padding: 25px;
}

aside {
    float: right;
    width: 300px;
    margin-bottom: 15px;
    height: 200px;
    padding: 25px;
    margin-left: 15px;
}

article {
    color: #ebebeb;
    padding: 25px;
    background: #777;
    margin-bottom: 15px;
    width: 200px;
}

footer {
    width: 495px;
    margin: auto;
    padding: 25px;
    clear: both;
}