header, nav, section, aside, h1, p, footer {
    color: #777;
    background: #ebebeb;
}

h1, p {
    padding: 5px;
}

header, nav {
    width: 495px;
    margin: auto;
    margin-bottom: 15px;
    padding: 25px;
}

body {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin: auto;
}

section {
    float: left;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 208px;
    padding: 25px;
    width: 250px;
    height: 200px;
}

aside {
    float: left;
    width: 180px;
    margin-bottom: 15px;
    height: 200px;
    padding: 25px;
    margin-left: 15px;
}

article {
    color: #ebebeb;
    background: #777;    
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
    height: 120px;
}

footer {
    width: 495px;
    margin: auto;
    padding: 25px;
    clear: both;
}